<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= message.user %></title>
</head>
<body>
  <h1>Message details</h1>
  <p>User: <%= message.user %></p>
  <p>Text: <%= message.text %></p>
  <p>Date: <%= message.added %></p>
  <button type="button"><a href="/">Back</a></button>
</body>
</html>